$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#connexion-google-img {
  width: 35px;
}

#connexion-facebook-img {
  width: 35px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  width: 45px;
  margin-top: -12.5px;
}

#search-bar {
  margin-top: 10px;
  width: 100px;
}

#search-btn {
  margin-top: 7.5px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  width: 100%

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

#add-post {
  width: 100%;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

img.img-rounded {
  border-radius: 30px;
}
.col-lg-6 {
  width: 50%;
  float: left;
  margin-bottom: 3px;
}

input:invalid {
  box-shadow: inset 0 0 3px 0px red;
  border-color: red;
}


form.new-post {}

.post::before {
    width: 100%;
    display: block;
    border: 1px solid black;
    height: 1px;
}

.post {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}

img.img-responsive.img-thumbnail.img-rounded {
    width: 80%;
    margin-left: 10%;
}

button.btn-like.active {
    background-color: #8888e2;
    color: white;
    font-weight: bold;
}

button.btn-like {
    background-color: #5959ff;
    color: white;
    font-weight: bold;
}
.comment {
    background-color: aliceblue;
    padding: 5px 20px;
    border-radius: 10px;
}

span.comment-author.ng-binding.comment_op {
    background-color: #0000d9;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

span.comment-author.ng-binding {
    /* background-color: #0000d9; */
    /* color: white; */
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.popup {
    padding: 0px;
    position: relative;
    /* width: 0; */
    /* height: 0; */
    top: -170px;
    display: inline-block;
}

ul{
  list-style: none;
}

.popup ul {
    margin: 0;
    padding: 0;
}

.popup > div {
    margin: 0;
    background-color: #a8c0ff;
    border-radius: 5px;
    padding: 5px 24px;
    box-shadow: 0px 0px 3px 2px #a8c0ff;
}
.popup-wrapper {
  position: absolute;
}
.popup:after {content: "";display: inline-block;background-color: #00000000;width: 50px;height: 50px;transform: rotate(45deg);border-left: 50px blue;border-bottom: 50px blue;position: relative;top: -25px;left: 58px;border-right: solid 10px transparent;border-left: solid 10px transparent;border-top: solid 10px #a8c0ff;transform: translateX(-50%);position: absolute;/* z-index: -1; */content: '';top: 100%;/* left: 50%; */height: 0;width: 0;}

.new-comment-input {
    width: 70%;
}

.post-description {
    font-size: 1.2em;
    margin-left: 10%;
    font-style: italic;
    display: inline-block;
}

.post-description:before {content: ",,";display: inline-block;transform: rotate(180deg);font-size: xx-large;font-family: "comic sans-serif";font-weight: bold;margin-right: 2px;}

.post-description:after {content: ",,";font-size: xx-large;/* transform: rotate(180deg); */display: inline-block;margin-left: 5px;font-family: "comic sans-serif";font-weight: bold;}